.order-img{
    height: 100px;
    margin-right: 15px;
}
.review-order{
    border: 0.1px solid #95A0A7;
    margin: 15px;
    padding: 10px;
    padding-right: 20px;
}
span{
    color: #FF9900;
}

.order-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn button{
    border: 0;
    background: #eb575750;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    
}

.dlt-icon{
    color: #eb5757c9;
}